<!doctype html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<link rel="stylesheet" href="./app/prd/styles/app.css" />
</head>
<body>
	<p>切換分支看不同的orderby</p>
	<div ng-controller='demo' class="box">
		<p>
			<input type="text" placeholder="search firstName" ng-model="firstval"/>
			<input type="text" placeholder="search lastName" ng-model="lastval"/>
			<label><input type="checkbox" name="" id="checked" />Exact Mathch</label>
		</p>
		<table>
			<thead>
				<tr>
					<td  ng-click="setSort('FirstName')">FirstName  <span ng-class="setClss('FirstName')"></span></td>
					<td ng-click="setSort('LastName')">LastName <span ng-class="setClss('LastName')"></span></td>
					<td ng-click="setSort('Gender')">Gender <span ng-class="setClss('Gender')"></span></td>
					<td ng-click="setSort('Salary')">Salary <span ng-class="setClss('Salary')" ></span></td>
					<td  ng-click="setSort('salary')" >Salary <span ng-class="setClss('salary')"></span></td>
					<td ng-click="setSort('Birthday')">Birthday <span ng-class="setClss('Birthday')"></span></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="data in datas | filter:first:obj | filter:last:obj | orderBy:common:flag">
					<td>{{data.FirstName}}</td>
					<td>{{data.LastName}}</td>
					<td>{{data.Gender}}</td>
					<td>{{data.Salary | currency:""}}</td>
					<td>{{data.salary | currency:"￥"}}</td>
					<td>{{data.Birthday}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="./app/libs/jquery1.7.js"></script>
	<script src="./app/libs/angular.js"></script>
	<script src="./app/prd/scripts/app.js"></script>
</body>
</html>